<div class="tab-pane" id="about" role="tabpanel">
  <div class='content animated fadeIn'>
    <p><strong><em>I'm highly passionate about building things and being creative.</em></strong><p/><p>I like making websites with Middleman <small>(HTML5 + CSS + JS)</small>, as well as Ruby on Rails web applications. I also started a small company called <a href='https://instagram.com/heatherpaperco'>Heather Paper Co.</a> to share my love for design.</p><p>If you want to know about my career skills and achievements, please check out my <a data-toggle="tab" href="#resume" role="tab">resume</a> or my <a data-toggle="tab" href="#works" role="tab">works</a>.</p>
    <p><strong><em>I always try my best to provide top service and high quality work to all my partners and clients.</em></strong></p><p>If you're interested in working together for a project, don't be afraid to get in touch on my <a class="nav-link" data-toggle="tab" href="#contact" role="tab">Contact</a> form or drop me an email at <a href='mailto:hello@janeheatherdee.com'>hello@janeheatherdee.com</a></p>
  </div>
</div>