<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h4 class='title'>Jane Heather Dee</h4>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
      <ul class="nav navbar-nav pull-xs-right" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" href="#home" role="tab">
          <i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#about" role="tab">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#resume" role="tab">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#works" role="tab">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact" role="tab">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>