<div class="tab-pane" id="resume" role="tabpanel">
  <div class='content white animated fadeIn'>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#webDeveloper" aria-expanded="false" aria-controls="webDeveloper">
        <h5>Ruby on Rails Web Developer</h5>
        <h6>Front-end: HTML5/CSS/JS</h6>
        <h6>April 2014 - Present<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="webDeveloper">
        <p>I began learning about coding through self-studying online tutorials, and eventually I was accepted to Ironhack in Barcelona, Spain. It was an intensive web development bootcamp to develop different skills based on front-end and back-end technologies, from HTML5, CSS3, plain Javascript to Ruby and Rails, as well as Git, TDD and working in an agile environment. Since finishing the bootcamp, I work and completed several tasks on different projects, such as:</p>
        <ul>
          <li>Setup of web hosting, domain registration, email hosting and e-commerce platforms</li>
          <li>Implementation of PSD design to HTML5/CSS</li>
          <li>Front-end design and development using static site generator Middleman and use of Contenful API as CMS</li>
          <li>Integrate existing Rails application with third-party CRM (ZohoCRM API)</li>
          <li>System design and process mapping on how to implement the operations of a new web application using Ruby on Rails framework</li>
          <li>Unit testing for automated testing especially with integration of third-party payment gateway (Braintree)</li>
          <li>Implementation of mailers using Mailchimp and Mandrill API</li>
          <li>Automatic image screenshot and PDF file creation in the server</li>
          <li>Refactor existing code for performance efficiency and cleanliness</li>
          <li>Use of popular gems such as Devise, Capybara, rSpec, Her, Factory Girl, Paperclip, Ransack
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#insuranceAdvisor" aria-expanded="false" aria-controls="insuranceAdvisor">
        <h5>Licensed Insurance Advisor</h5>
        <h6>Sunlife Financial of Canada Philippines</h6>
        <h6>July 2014 - Present<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="insuranceAdvisor">
        <p>I am fortunate enough to be trained and guided by the top branch manager of Sunlife Financial in the entire Philippines. Learning from the best, I strived hard to educate my prospects and clients on financial literacy and preparing for their future. Since then I have won numerous awards and qualified for several incentive trips.</p>
        <ul>
          <h6>List of Awards:</h6>
          <li>Quarterly medallion awardee</li>
          <li>2014 Leader's Conference participant help in Iceland</li>
          <li>2014 Court of the Table (COT) qualifier</li>
          <li>2014 Million Dollar Round Table (MDRT) awardee</li>
          <li>2014 Macaulay Senior-VP level awardee</li>
          <li>2014 Top Ace Awardee by the Life Underwriters Association of the Philippines (LUAP)</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#ironhackBootcamp" aria-expanded="false" aria-controls="ironhackBootcamp">
        <h5>Ironhack Web Development Bootcamp</h5>
        <h6>July 2014 - August 2014<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="ironhackBootcamp">
        <p>400 hrs of web development bootcamp focused on learning the skills demanded by the top tech employers.<br>
        Ironhack equips its graduates with the best knowledge and practices necessary to launch a successful career in the web development industry. From front-end (HTML, CSS, JavaScript) to clean back-end coding with Git, Ruby, Rails, MVC and more using TDD and Agile management technologies. The course ends with a final project where we can apply our set of new skills and knowledge in order to build a real product and present it at the demo day.</p>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#operationsManager" aria-expanded="false" aria-controls="operationsManager">
        <h5>Operations Manager</h5>
        <h6>Dreamvolts Marketing</h6>
        <h6>February 2012 - June 2014<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="operationsManager">
        <p>Importer, wholesale and distribution company for auto supply and accessories and digital lifestyle accessories.</p>
        <ul>
          <li>Lead the introduction of new products and brands to the local market, as such increased profit margin and more distributors in the local market</li>
          <li>In-charge for retail operations and management of cash flow</li>
          <li>Develop new operations processes for incoming trade businesses</li>
          <li>Negotiates with suppliers for purchasing and shipments</li>
          <li>Prepared forecast and budget for every order cycle</li>
          <li>Facilitated online selling and e-commerce site, thus expanding sales channels and reaching a wider market</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#footwearDeveloper" aria-expanded="false" aria-controls="footwearDeveloper">
        <h5>Footwear Technical Developer</h5>
        <h6>Megastar Industries</h6>
        <h6>July 2010 - January 2012<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="footwearDeveloper">
        <ul>
          <li>Ensure that the projects (sample shoes) are executed and shipped out on schedule as planned, given the tight timeline</li>
          <li>Coordinates between the client (World Cat Far East/PUMA) and the company's production team for technical requirements</li>
          <li>Communicates with different suppliers about the materials specified by the client</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#techConsultant" aria-expanded="false" aria-controls="techConsultant">
        <h5>SAP Technology Consultant</h5>
        <h6>Hewlett-Packard Enterprise</h6>
        <h6>October 2007 - June 2010<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="techConsultant">
        <ul>
          <li>SAP Project Implementation resource under the P&G account specializing in Product Cost and Control</li>
          <li>Regional Technical Owner for SAP Controlling and Profitability Analysis (CO-PA) – EMEA (Europe, Middle East and Africa markets) effective Oct. 1, 2009</li>
          <li>Project Technical Lead/QA Lead handling Financial Services department</li>
          <li>Developed training guides (job aids) to ensure smooth onboarding and training to the new hires</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#internship" aria-expanded="false" aria-controls="internship">
        <h5>Industrial Performance Intern</h5>
        <h6>Nestle Philippines Inc.</h6>
        <h6>May 2006 - August 2006<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="internship">
        <ul>
          <li>Handled several projects leading to savings for the company. This included <em>evaluation of manpower resources on the warehouse, assessment of the Customer Service dept, and monitoring of Bad Goods (returned stocks)</em> via graphs and charts</li>
          <li>Updated production manuals to reflect current ongoing operations</li>
        </ul>
      </div>
      <hr>
    </div>
    <div class='entry'>
      <div class='heading' data-toggle="collapse" href="#graduateIE" aria-expanded="false" aria-controls="graduateIE">
        <h5>Bachelor of Science in Industrial Engineering</h5>
        <h6>De La Salle University - Manila</h6>
        <h6>May 2003 - September 2007<i class='fa fa-caret-down'></i></h6>
      </div>
      <div class="collapse" id="graduateIE">
        <ul>
          <li>VP-Finance, Industrial Management Engineering Society</li>
          <li>Dean’s List Honors – First Honors Awardee, Second Honors Awardee</li>
          <li>Nominated for Gold Medal Most Outstanding Thesis in Industrial Engineering award</li>
          <li>Belongs to the top 20% of the graduating batch</li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>