<ul class="list-reset list-inline social-icons">
  <li><a href="https://www.linkedin.com/in/janeheatherdee">
    <i class='fa fa-linkedin-square fa-2x'></i>
  </a></li>
  <li><a href="http://github.com/buzzlightyear182">
    <i class='fa fa-github fa-2x'></i>
  </a></li>
  <li><a href="https://twitter.com/janeheatherdee">
    <i class='fa fa-twitter fa-2x'></i>
  </a></li>
  <li><a href="https://www.behance.net/buzzlightyear182">
    <i class='fa fa-behance fa-2x'></i>
  </a></li>
  <li><a href="https://www.instagram.com/buzzlightyear182">
    <i class='fa fa-instagram fa-2x'></i>
  </a></li>
</ul>