.contact .form-control {
  background: rgba(255,255,255,0.8);
  border: 0px;
  border-radius: 0px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.contact .form-control:focus, .contact .form-control:hover {
  background: rgba(255,255,255,1);
  border: 0px;
  border-radius: 0px;
  border-bottom: 3px solid $primary;
}