#resume .content {
  @include media-breakpoint-up(sm) {
    width: 66.67%;
    margin: auto;
  }
}

.entry h5{
  font-style: italic;
}

.entry {
  text-align: left;
}

.entry ul h6 {
  margin-left: -20px;
}

.entry h6 .fa-caret-down {
  margin-left: 15px;
  color: $primary;
  font-size: 1.25em;
  line-height: 1em;
}

.entry .heading {
  cursor: pointer;
}

.entry a {
  text-decoration: none;
}