<div class="modal fade" id="blackdogConsultants" tabindex="-1" role="dialog" aria-labelledby="blackdogConsultantsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-ipad" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="blackdogConsultantsLabel">Blackdog Consultants</h4>
        <a href='https://www.blackdog-consultants.com/' class="visit-link" target='_blank'>blackdog-consultants.com</a>
        <p><small>web design & front-end, static site web development</small></p>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'works/blackdog_325.png', class: 'img-fluid m-b-1 center-block', alt: "Black Dog Consultants website" %>
          </div>
          <div class='col-sm-8'>
            <p>Blackdog Consultants is a unique network of training, facilitation and coaching consultants at your fingertips, specialising in the Asia Pacific Market</p>
            <p>The client wanted the site to look modern yet quirky and friendly, with big and bold typography style. I worked with an international team for this project. The logo, typography and color palette was developed by the talented <a href='http://meggykawsek.com' target='_blank'>Meggy Kawsek</a> who is based in Los Angeles while the video and illustrations were done by Bernie Quah, founder of <a href='http://sketchpost.com' target='_blank'>Sketchpost</a> based in Singapore.</p>
            <p>I was part of this project since it started, from creating the wireframe drafts to show the layout until the deployment of the site using <a href='https://www.netlify.com' target='_blank'>Netlify</a>. The most challenging parts of the project were to display the text in a readable manner for both desktop and mobile (yes there's a lot!), as well as the interactive map where every pawprint icon is exactly positioned to the actual location of the country. Updated this 2018, the site  uses <a href='https://www.netlifycms.org/' target='_blank'>Netlify CMS</a>, an alternative to a full-blown CMS, as the publishing platform for the news and learning zone articles. With the use of striking stock photos and vivid color combinations, the site turned out pretty awesome.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>