<div class="modal fade" id="gatherPh" tabindex="-1" role="dialog" aria-labelledby="gatherPHlabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-ipad" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="gatherPHlabel">Gather Philippines</h4>
        <a href='http://www.gatherph.com/' class="visit-link" target='_blank'>gatherph.com</a>
        <p><small>front-end development, e-commerce</small></p>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'works/gatherph_long.png', class: 'img-fluid m-b-1 center-block', alt: "Gather PH website" %>
          </div>
          <div class='col-sm-8'>
            <p>Gather PH is a brand-house that creatively addresses sustainability and functionality in everyday living. Thus, their tagline, responsible essentials.</p>
            <p>The client wanted an e-commerce shop that looks clean and crisp, with a very minimalist branding but at the same time use of colorful imagery for the images to highlight their products. The client is also non-techie, and would like to be able to have the option of altering the site themselves without too much complication. After presenting different options, they found easiest to work with <a href='http://weebly.com' target='_blank'>Weebly</a>, with its drag and drop based editor and free SSL. This would be sufficient since they don't plan on having high SKU and inventory levels. The layout and look of the site is based from a generic theme, but I still had to make a few modifications to the main stylesheet and HTML content. I also supported the client in setting up their domain, mail host, as well as showing them how to work with the e-commerce setting of the site.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>