<div class="modal fade" id="goldenHorseMedical" tabindex="-1" role="dialog" aria-labelledby="goldenHorseMedicalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-ipad" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="goldenHorseMedicalLabel">Golden Horse Medical Supplies</h4>
        <a href='http://www.goldenhorsemedicalsupplies.com/' class="visit-link" target='_blank'>goldenhorsemedicalsupplies.com</a>
        <p><small>front-end development, e-commerce</small></p>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-sm-4'>
            <%= image_tag 'works/goldenhorsemedical_long.png', class: 'img-fluid m-b-1 center-block', alt: "Golden Horse Medical Supplies website" %>
          </div>
          <div class='col-sm-8'>
            <p>Golden Horse Medical Supplies is a brick-and-mortar retail shop for various medical supplies specializing in wheelchairs.</p>
            <p>For the look of the site, the client wanted to keep the distinct striking red because in Chinese it is a symbol for luck. Based on a generic theme, I modified the stylesheet and image assets such as buttons to fit this color scheme. I also prepared the banner images on the homepage to attract and entice more visitors to go through the site.</p>
            <p>The e-commerce store is built on <a href='https://www.shopify.com/?ref=jane-heather-dee' target="_blank">Shopify</a>. I set up the domain, email and other e-commerce store variables. For shipping rates, we use a specific weight-based model to determine the correct shipping rates, especially since their product lines range from small to bulky items. I also instructed their staff on product uploads as well as order management.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>